body {
    font-family: sans-serif;
    padding: 10px;
}
.container {
    max-width: 100%;
    margin: auto;
}
.gallery {
    margin-top: 20px;
}
.gallery-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-bottom: 10px;
}
.gallery-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}
.gallery-item p {
    margin: 10px 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}